<div class="wrapper">
    <div class="magazine">
        <div class="item-a">
            <div class="top-header-menu">
                    <div class="menu-item">ABOUT US</div>
                    <div class="menu-item">ADVERTISW</div>
                    <div class="menu-item">CONTACTS</div>
            </div>
            <div class="top-header-person">
                    <div class="person-social">
                        <div class="social-item"><fa-icon [icon]="lock" ></fa-icon></div>
                        <div class="social-item"><fa-icon [icon]="facebook" ></fa-icon></div>
                        <div class="social-item"><fa-icon [icon]="twitter" ></fa-icon></div>
                        <div class="social-item"><fa-icon [icon]="pinterest" ></fa-icon></div>
                        <div class="social-item"><fa-icon [icon]="dribbble" ></fa-icon></div>
                        <div class="social-item"><fa-icon [icon]="vimeo" ></fa-icon></div>
                        <div class="social-item"><fa-icon [icon]="youtube" ></fa-icon></div>
                        <div class="social-item"><fa-icon [icon]="instagram" ></fa-icon></div>               

                    </div>            
                </div>
                <div class="person-auth">
                    <div class="auth-item">LOG IN</div>
                    <div class="auth-item">REGISTER</div>
                </div>
        </div>

        <div class="breaking-news">
           <div class="news-wrapper">
                <div class="news-title">BREACKING NEWS</div>
                <div class="news-line">new contacts with UFO </div>
                <div class="news-search">
                    <div class="search-line"></div>
                     <div class="search-icon">
                        <fa-icon [icon]="search" ></fa-icon>
                     </div>
                </div>
           </div>
        
        </div>
        <div class="header">
            
            <p>magazine works! #3</p>
        </div>
            <!-- <div><block-header></block-header><p>magazine works! #4</p></div>
            <div><block-header></block-header><p>magazine works! #5</p></div>
            <div><block-header></block-header><p>magazine works! #6</p></div>
            <div><block-header></block-header><p>magazine works! #7</p></div>
            <div><block-header></block-header><p>magazine works! #8</p></div> -->
    <div>
 </div>   
 
